.container {
  max-width: 1140px;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293848;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
  font-family: "Roboto";
  font-weight: 700;
}

.coinName {
  margin-left: -4rem;
}

.coinRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293848;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
  font-family: "Roboto";
  transition: 0.3s ease-in-out;
}

.coinRow:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.symbol {
  display: flex;
  align-items: center;
}

img {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

@media screen and (max-width: 1024px) {
  .coinName {
    margin-left: -2rem;
  }
  .hideMobile {
    display: none;
  }
  .coinRow:hover {
    transform: none;
  }
}
